body {
    margin: 0;
}

nav {
    background-color: rgb(245, 176, 150);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    height: 35px;
    width: 75px;
}

.logo img {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 12px;
    padding-top: 16px;
}

.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.left ul {
    display: flex;

}

.left ul li {
    list-style-type: none;
    padding-right: 20px;
}

.left ul li a {
    text-decoration: none;
    color: black;
}

.right {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.right button {
    background-color: rgb(36, 23, 19);
    padding: 8px 16px;
    margin-right: 15px;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    text-align: center;
    display: flex;
}

.right button a {
    text-decoration: none;
    color: white;
    display: flex;
    text-align: center;
}
form {
    width: 550px;
    margin: 50px auto;
}

input, select, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid;
} 
textarea{
    resize: vertical;

}
form div {
    margin-bottom: 10px;
}


form div label {
    font-weight: bold;
    
}
form div input {
    box-shadow: 0px 0px 7px;
    margin: 10PX 0PX;
}
form div select {
    box-shadow: 0px 0px 7px;
    margin: 10PX 0PX;
}
form div textarea {
    box-shadow: 0px 0px 7px;
    margin: 10PX 0PX;
}
form label {
    font-weight: 500;

}
form button {
    background-color: orangered;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(243, 68, 15);
    color: white;
    font-weight: bold;
    float: right;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
form button:hover {
    background-color: rgb(163, 50, 9);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/* responsive layouting */

@media screen and (max-width : 500px){
    nav {
        width: 100%;
        height: 45px;
    }
    .left ul li a {
        display: none;
    }
    .right button a {
        display: none;
    }
    .right button {
        display: none;
    }
    form {
        width: 90%;
        height: 400px;
        justify-content: center;
        margin: 20px ;
    }
}